
.show-test {
  display: none;
}
.show-result {
  display: none;
}



#csharp {
  display: none;
}
#java{
  display: none;
}
#php{
  display: none;
}
#ruby{
  display: none;
}
#css{
  display: none;
}
.grey-background {
  background-color: grey;
}
